<% include ./partials/header %> 


<form class="ui form container " action="/register" method="post">
    <h1>Sign Up!</h1>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button class="ui basic blue button large ">Sign Up</button>
</form>
<% include ./partials/footer %> 
