<% include ../partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To Metrics OP Tool!</h1>
      <p>
        This app helps in creating the KCQ Team Performance Metrics and
        organizing those data by storing them on weekly/monthly/Quarterly
      </p>
      <div class="team-selector">
        <div class="col-md-3">
          <h3 class="select">Create new Metrics :</h3>
          <select
            name="team "
            onchange="location = this.value;"
            class="form-control selectpicker"
            ><option>Select Your Team</option>
            <option value="/campgrounds/new">ITB</option>
            <option value="/campgrounds/gok"> GoK </option>
            <option value="/campgrounds/metadata">Metadata</option>
            <option value="/campgrounds/series">Series</option>
            <option value="/campgrounds/xray">X-Ray</option>
            <option value="">All</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  <a href="campgrounds/itbshow">ITB</a>

  <% include ../partials/footer %>
</div>
