<% include ../partials/header %>
// <script>
//         function sum() {
//               var txtFirstNumberValue = document.getElementById('value1').value;
//               var txtSecondNumberValue = document.getElementById('value2').value;
//               var result = txtFirstNumberValue / txtSecondNumberValue/5;
//               if (!isNaN(result)) {
//                  document.getElementById('value3').value = result;
//               }
//         }
//         </script>
<div class="ui container">
    <div class="row">
        <h1 style="text-align: center">Create New metrics of the week</h1>
        <div class="ui mini icon input">
          <label class="ui big black label">Year*</label>
          <div class="ui compact menu">
              <div class="ui simple dropdown item">
                Choose
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">2019 </div>
                  <div class="item">2020</div>
                  <div class="item">2021</div>
                </div>
              </div>
            </div>
        </div>
        <div class="ui mini icon input">
          <label class="ui big black label">Month:*</label>
          <div class="ui compact menu">
              <div class="ui simple dropdown item">
                Choose 
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item">January </div>
                  <div class="item">Febraury</div>
                  <div class="item">March</div>
                   <div class="item">April </div>
                  <div class="item">May</div>
                  <div class="item">June</div>
                  <div class="item">July </div>
                  <div class="item">August</div>
                  <div class="item">September</div>
                   <div class="item">October </div>
                  <div class="item">November</div>
                  <div class="item">December</div>
                </div>
              </div>
            </div>
        </div>
        <div class="ui mini icon input">
          <label class="ui big black label">Week Number:*</label>
          <input  type="text" >
        </div>
        
        <div style="margin: 25px auto;">
        <form action="/campgrounds" method="POST">
        <table class="ui celled structured striped table">
          <thead>
              <tr>
              <th>
              </th>
              <th class="ui center aligned header" colspan="3">Planned</th>
              <th class="ui center aligned header" colspan="4">Actual</th>
            </tr>
            
            <tr>
              <th class="ui center aligned ">Title</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Productivity</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Call outs</th>
             </tr>
             <tr>
                 
            <th>Inside The Book - Proactive Audits</th>
            <td><input name="pv1"  class="form-control" id="value1" type="text" value="5456" readonly  onkeyup="sum();"></td>
            <td><input name="pv2"  class="form-control" id="value2" type="text" value="3.92" readonly  onkeyup="sum();"  ></td>
            <td><input  class="form-control" type="text" value="23.2"  readonly  ></td>
         
                <td><input name="pv3"  class="form-control" type="text" required ></td>
                <td><input name="pv4"  class="form-control" type="text" required  ></td>
                 <td><textarea  rows="2" name="couts1" ></textarea></td>
             </tr>
            <!--<tr>-->
            <!--    <th>Proactive Audits</th>-->
            <!--    <td><input name="pv5"  class="form-control" type="text" value="12" readonly  ></td>-->
            <!--    <td><input name="pv6"  class="form-control" type="text" value="1"  readonly ></td>-->
            <!--    <td><input  class="form-control" type="text" value="2.4"  readonly  ></td>-->
            <!--    <td><input name="pv7"  class="form-control" type="text" required ></td>-->
            <!--    <td><input name="pv8"  class="form-control" type="text" required ></td>-->
               
            <!--    <td><textarea  rows="2"  name="couts2" ></textarea></td>-->
            <!-- </tr>-->
             
               <tr>
                <th>Best Sellers</th>
                <td><input name="pv9"  class="form-control" type="text" value="600" readonly  ></td>
                <td><input name="pv10"  class="form-control" type="text" value=".52"  readonly ></td>
                <td><input  class="form-control" type="text" value="23.2"  readonly  ></td>
                <td><input name="pv11"  class="form-control" type="text" required ></td>
                <td><input name="pv12"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="couts3" ></textarea></td>
             </tr>
             <tr>
                <th>Pre-Orders</th>
                <td><input name="pv13"  class="form-control" type="text" value="2024" readonly  ></td>
                <td><input name="pv14"  class="form-control" type="text" value="1.21"  readonly ></td>
                <td><input  class="form-control" type="text" value="33.4"  readonly  ></td>
                <td><input name="pv15"  class="form-control" type="text" required ></td>
                <td><input name="pv16"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="couts4" ></textarea></td>
             </tr>
             <tr>
                <th>Big Books</th>
                <td><input name="pv17"  class="form-control" type="text"  value="112" readonly  ></td>
                <td><input name="pv18"  class="form-control" type="text"  value="0.11"  readonly ></td>
                <td><input  class="form-control" type="text" value="19.9"  readonly  ></td>
                <td><input name="pv19"  class="form-control" type="text" required ></td>
                <td><input name="pv20"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="couts5" ></textarea></td>
             </tr>
             
             <tr>
                <th>Kindle Deals</th>
                <td><input name="pv21"  class="form-control" type="text" value="2400"  readonly  ></td>
                <td><input name="pv22"  class="form-control" type="text" value="1.85"  readonly ></td>
                <td><input  class="form-control" type="text" value="25.9"  readonly  ></td>
                <td><input name="pv23"  class="form-control" type="text" required ></td>
                <td><input name="pv24"  class="form-control" type="text" required ></td>
               
                <td><textarea  rows="2" name="couts6" ></textarea></td>
             </tr>
             <tr>
                <th>Esclation Audits</th>
                <td><input name="pv25"  class="form-control" type="text" value="320"   readonly  ></td>
                <td><input name="pv26"  class="form-control" type="text"  value="0.23"  readonly ></td>
                <td><input  class="form-control" type="text" value="27.8"  readonly  ></td>
                <td><input name="pv27"  class="form-control" type="text" required ></td>
                <td><input name="pv28"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="couts7" ></textarea></td>
             </tr>
             
             <tr>
                <th>New Scope Proactive Audits</th>
                <td><input name="pv29"  class="form-control" type="text" value="0" readonly  ></td>
                <td><input name="pv30"  class="form-control" type="text" value="0"  readonly ></td>
                <td><input  class="form-control" type="text" value="25.9"  readonly  ></td>
                <td><input name="pv31"  class="form-control" type="text"  required></td>
                <td><input name="pv32"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="couts8" ></textarea></td>
             </tr>
          
             <tr>
                <th>KU Page Violation Audits</th>
                <td><input name="pv33"  class="form-control" type="text"  value="1035" readonly  ></td>
                <td><input name="pv34"  class="form-control" type="text" value="0.40"  readonly ></td>
                <td><input  class="form-control" type="text" value="52.2"  readonly  ></td>
                <td><input name="pv35"  class="form-control" type="text" required ></td>
                <td><input name="pv36"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="couts9" ></textarea></td>
             </tr>
            <tr>
                <th>KU Tickets</th>
                <td><input name="pv37"  class="form-control" type="text" value="0"readonly  ></td>
                <td><input name="pv38"  class="form-control" type="text" value="0"  readonly ></td>
                <td><input  class="form-control" type="text" value="0"  readonly  ></td>
                <td><input name="pv39"  class="form-control" type="text" required ></td>
                <td><input name="pv40"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="couts10" ></textarea></td>
             </tr>
            <tr>
                <th>KU All Stars</th>
                <td><input name="pv41"  class="form-control" type="text" value="0" readonly  ></td>
                <td><input name="pv42"  class="form-control" type="text" value="0"  readonly ></td>
                <td><input  class="form-control" type="text" value="0"  readonly  ></td>
                <td><input name="pv43"  class="form-control" type="text" required ></td>
                <td><input name="pv44"  class="form-control" type="text" required ></td>
                <td><textarea  rows="2" name="couts11" ></textarea></td>
             </tr>
            </thead>
       </table>
                
       <div class="form-group">
        <button class="ui basic large blue  button" >Submit!</button>
                </div>
            </form>
            
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

