<% include ../partials/header %>

  <!--<body>-->
    <!--  Grid links -->
  <!--  <div class="ui container  main">-->
  <!--    <div class="ui three column grid ">-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1574171361912-c3a59ab92108?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1500106029603-6402f3cc585c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1572988582330-cddad70e6772?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1562601632-b4943cec8445?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1432889490240-84df33d47091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1529812524416-280258cd4c3c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1432382966675-e8a2b09f5d17?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"/>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1564314966697-423d88ac79d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80"-->
  <!--          />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img-->
  <!--            class=" medium ui image"-->
  <!--            src="https://images.unsplash.com/photo-1510272206246-9c2faaf4b4b6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"-->
  <!--          />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="column">-->
  <!--        <div class=" segment">-->
  <!--          <img class=" medium ui image" />-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</body>-->
  <style>
      table {
        width: 40%;
        height: 300px;
      }
      a:hover {
        background: rgb(66, 65, 65);
      }

      th,
      tr,
      td,
      table {
        height: 3.5rem;
        border: 2px solid wheat;
        text-align: center;
      }
      th {
        font-size: x-large;
      }
      .quaterly {
        font-size: 1.8rem;
        cursor: pointer;
      }
      .month {
        text-align: center;
        font-size: 1.4rem;
      }
      thead {
        text-align: center;
      }
      a{
        color:wheat;
      }
    </style>
    <caption>
      <h3>Year :2019</h3>
    </caption>
    <table class="ui fixed inverted single line celled table">
      <thead>
        <tr>
          <th>Quaterly</th>
          <th>Monthly</th>
          <th colspan="5">Weekly</th>
        </tr>
      </thead>
      <tr>
        <td class="quaterly" rowspan="3">Q1</td>
        <td class="month">January</td>
        <td><a href="https://7c63a163da1a461baf8c3626f8b3a25d.vfs.cloud9.us-east-2.amazonaws.com/campgrounds/5de5ddb58a3cbf382991e405">Week 1</a></td>
        <td> <a href="https://7c63a163da1a461baf8c3626f8b3a25d.vfs.cloud9.us-east-2.amazonaws.com/campgrounds/5de5dd048a3cbf382991e404">Week 2</a></td>
        <td><a href="https://7c63a163da1a461baf8c3626f8b3a25d.vfs.cloud9.us-east-2.amazonaws.com/campgrounds/5de5e7e08a3cbf382991e405">Week 3</a></td>
        <td><a href="https://7c63a163da1a461baf8c3626f8b3a25d.vfs.cloud9.us-east-2.amazonaws.com/campgrounds/5de5e7e08a3cbf382991e406">Week 4</a></td>
        <td>Week 5</td>
      </tr>

      <tr>
        <td class="month">Febraury</td>
        <td>Week 6</td>
        <td>Week 7</td>
        <td>Week 8</td>
        <td>Week 9</td>
      </tr>
      <tr>
        <td class="month">March</td>
        <td>Week 10</td>
        <td>Week 11</td>
        <td>Week 12</td>
        <td>Week 13</td>
      </tr>

      <tr>
        <td class="quaterly" rowspan="3">Q2</td>
        <td class="month">April</td>
        <td>Week 14</td>
        <td>Week 15</td>
        <td>Week 16</td>
        <td>Week 17</td>
        <td>Week 18</td>
      </tr>

      <tr>
        <td class="month">May</td>
        <td>Week 19</td>
        <td>Week 20</td>
        <td>Week 21</td>
        <td>Week 22</td>
      </tr>
      <tr>
        <td class="month">June</td>
        <td>Week 23</td>
        <td>Week 24</td>
        <td>Week 25</td>
        <td>Week 26</td>
      </tr>

      <tr>
        <td class="quaterly" rowspan="3">Q3</td>
        <td class="month">July</td>
        <td>Week 27</td>
        <td>Week 28</td>
        <td>Week 29</td>
        <td>Week 30</td>
        <td>Week 31</td>
      </tr>

      <tr>
        <td class="month">August</td>
        <td>Week 32</td>
        <td>Week 33</td>
        <td>Week 34</td>
        <td>Week 35</td>
      </tr>
      <tr>
        <td class="month">September</td>
        <td>Week 36</td>
        <td>Week 37</td>
        <td>Week 38</td>
        <td>Week 39</td>
        <td>Week 40</td>
      </tr>
      <tr>
        <td class="quaterly" rowspan="3">Q4</td>
        <td class="month">October</td>
        <td>Week 41</td>
        <td>Week 42</td>
        <td>Week 43</td>
        <td>Week 44</td>
      </tr>

      <tr>
        <td class="month">November</td>
        <td>Week 45</td>
        <td>Week 46</td>
        <td>Week 47</td>
        <td>Week 48</td>
      </tr>
      <tr>
        <td class="month">December</td>
        <td>Week 49</td>
        <td>Week 50</td>
        <td>Week 51</td>
        <td>Week 52</td>
      </tr>
    </table>
</div>

                

<% include ../partials/footer %>
