<% include ../partials/header %>
<div class="container" >
    
            <!-- 1  Proactive (Fresh Audits) -->
            <tr>
                <th class="ui center aligned header blue">
                  Proactive (Fresh Audits)
                </th>
                <td>
                  <input
                    name="P_Vol1"
                    class="form-control"
                    type="text"
                    value="589.77"
                    readonly
                  />
                </td>
  
                <td>
                  <input
                    name="P_HCount1"
                    class="form-control"
                    type="text"
                    value="3.56"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="13.5"
                    readonly
                  />
                </td>
  
                <td>
                  <input
                    name="A_Vol1"
                    id="sum_value"
                    class="form-control"
                    type="text"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_HCount1"
                    class="form-control"
                    id="hc_value"
                    type="text"
                    readonly
                  />
                </td>
                <td><textarea rows="2" name="couts1"></textarea></td>
              </tr>
  
              <!-- 2. Best Sellers -->
              <tr>
                <th>Best Sellers</th>
                <td>
                  <input
                    name="P_Vol2"
                    class="form-control"
                    type="text"
                    value="46.15"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount2"
                    class="form-control"
                    type="text"
                    value=".38"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="23.2"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_Vol2"
                    id="value1"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount2"
                    class="form-control"
                    id="headcount1"
                    onkeyup="hcsum();"
                    type="text"
                  />
                </td>
  
                <td><textarea rows="2" name="couts2"></textarea></td>
              </tr>
  
            <!-- Pre-Orders -->
              <tr>
                <th>Pre-Orders</th>
                <td>
                  <input
                    name="P_Vol3"
                    class="form-control"
                    type="text"
                    value="264.69"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount3"
                    class="form-control"
                    type="text"
                    value="1.61"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="33.4"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_Vol3"
                    id="value2"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount3"
                    id="headcount2"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
  
                <td><textarea rows="2" name="couts3"></textarea></td>
              </tr>
  
              <!-- 4. Big Books -->
              <tr>
                <th>Big Books</th>
                <td>
                  <input
                    name="P_Vol4"
                    class="form-control"
                    type="text"
                    value="10.15"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount4"
                    class="form-control"
                    type="text"
                    value="0.12"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="19.9"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_Vol4"
                    class="form-control"
                    id="value3"
                    onkeyup="sum();"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount4"
                    id="headcount3"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
  
                <td><textarea rows="2" name="couts4"></textarea></td>
              </tr>
  
              <!-- 5. Kindle Deals -->
              <tr>
                <th>Kindle Deals</th>
                <td>
                  <input
                    name="P_Vol5"
                    class="form-control"
                    type="text"
                    value="184.62"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount5"
                    class="form-control"
                    type="text"
                    value="1.40"
                    readonly
                  />
                </td>
  
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="25.9"
                    readonly
                  />
                </td>
  
                <td>
                  <input
                    name="A_Vol5"
                    class="form-control"
                    id="value4"
                    onkeyup="sum();"
                    type="text"
                  />
                </td>
  
                <td>
                  <input
                    name="A_HCount5"
                    id="headcount4"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
  
                <td><textarea rows="2" name="couts5"></textarea></td>
              </tr>
  
  
  
  
  
  
  
              <!--  6. Ad-hoc Requests / Escalation Audits -->
              <tr>
                <th>Ad-hoc Requests / Escalation Audits</th>
                <td>
                  <input
                    name="P_Vol6"
                    class="form-control"
                    type="text"
                    value="6.46"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount6"
                    class="form-control"
                    type="text"
                    value="0.05"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="27.8"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_Vol6"
                    id="value5"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount6"
                    id="headcount5"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td><textarea rows="2" name="couts6"></textarea></td>
              </tr> 
              
              
              
              <!-- 7. KU Page Violation Audits -->
              <tr>
                <th> KU Page Violation Audits </th>
                <td>
                  <input
                    name="P_Vol7"
                    class="form-control"
                    type="text"
                    value="84.16"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="P_HCount7"
                    class="form-control"
                    type="text"
                    value="0.05"
                    readonly
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="text"
                    value="27.8"
                    readonly
                  />
                </td>
                <td>
                  <input
                    name="A_Vol7"
                    id="value6"
                    onkeyup="sum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td>
                  <input
                    name="A_HCount7"
                    id="headcount6"
                    onkeyup="hcsum();"
                    class="form-control"
                    type="text"
                  />
                </td>
                <td><textarea rows="2" name="couts7"></textarea></td>
              </tr>
  
</div>