
<% include ../partials/header %>


<div class="ui main class container segment">
<div class="ui huge header centered">Series</div>
    <fieldset> 
    <form class="ui form" action="/campgrounds" method="POST">
        <table class="ui celled structured striped table">
          <thead>
              <tr>
              <th>
                
              </th>
              <th class="ui center aligned header" colspan="3">Planned</th>
              <th class="ui center aligned header" colspan="4">Actual</th>
            </tr>
            <tr>
              <th class="ui center aligned ">Title</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Productivity</th>
              <th>Volume</th>
              <th>Head Count</th>
              <th>Call outs</th>
             </tr>
             <tr>
               
                <th>Series Metadata</th>
                <td><input name="pv1"  class="form-control" type="text" value="500"readonly  ></td>
                <td><input name="pv2"  class="form-control" type="text" value="4.99"readonly  ></td>
               <td><input  class="form-control" type="text" value="20.02"  readonly  ></td>
                <td><input name="pv3"  class="form-control" type="text" ></td>
                <td><input name="pv4"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             
            <tr>
                <th>Series Clean Up</th>
                <td><input name="pv5"  class="form-control" type="text" value="12"readonly  ></td>
                <td><input name="pv6"  class="form-control" type="text" value="1"  readonly ></td>
                <td><input  class="form-control" type="text" value="2.4"  readonly  ></td>
                <td><input name="pv7"  class="form-control" type="text" ></td>
                <td><input name="pv8"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             
             
             <tr>
                <th>Series Live Bundle Audits</th>
                <td><input name="pv9"  class="form-control" type="text" value="46" readonly  ></td>
                <td><input name="pv10"  class="form-control" type="text" value=".55"  readonly ></td>
                <td><input  class="form-control" type="text" value="16.72"  readonly  ></td>
                <td><input name="pv11"  class="form-control" type="text" ></td>
                <td><input name="pv12"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             <tr>
                <th>Pre-Orders</th>
                <td><input name="pv13"  class="form-control" type="text" value="152" readonly  ></td>
                <td><input name="pv14"  class="form-control" type="text" value="1.26"  readonly ></td>
                <td><input  class="form-control" type="text" value="24.12"  readonly  ></td>
                <td><input name="pv15"  class="form-control" type="text" ></td>
                <td><input name="pv16"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             <tr>
                <th>Best Sellers</th>
                <td><input name="pv17"  class="form-control" type="text"  value="8" readonly  ></td>
                <td><input name="pv18"  class="form-control" type="text"  value="0.12"  readonly ></td>
                <td><input  class="form-control" type="text" value="13.3"  readonly  ></td>
                <td><input name="pv19"  class="form-control" type="text" ></td>
                <td><input name="pv20"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             
             <tr>
                <th>Series Tickets</th>
                <td><input name="pv21"  class="form-control" type="text" value="185"  readonly  ></td>
                <td><input name="pv22"  class="form-control" type="text" value="1.98"  readonly ></td>
                <td><input  class="form-control" type="text" value="18.68"  readonly  ></td>
                <td><input name="pv23"  class="form-control" type="text" ></td>
                <td><input name="pv24"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
             <tr>
                <th>Series GV 30</th>
                <td><input name="pv25"  class="form-control" type="text" value="25"   readonly  ></td>
                <td><input name="pv26"  class="form-control" type="text"  value="0.26"  readonly ></td>
                <td><input  class="form-control" type="text" value="19.23"  readonly  ></td>
                <td><input name="pv27"  class="form-control" type="text" ></td>
                <td><input name="pv28"  class="form-control" type="text" ></td>
               
                <td><div class="ui large icon input"><input type="text" ></div></td>
             </tr>
          </thead>
       </table>
     <input class="ui basic blue button" type="submit" >
    
    </form>