<% include ../partials/header %>
<div class="container" >
    <div class="row">
     
<div>
    <div class="thumbnail">
        <img class="img-responsive" src="">
        <div class="caption-full">
        <table class="ui celled structured striped table">
        <thead>
          <tr>
            <th>
              [Year- Week]:<p> </p>
            </th>
            <th class="ui center aligned header" colspan="3">Planned</th>
            <th class="ui center aligned header" colspan="4">Actual</th>
          </tr>

          <tr>
            <th class="ui center aligned ">Title</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Volume</th>
            <th>Head Count</th>
            <th>Productivity</th>
            <th>Call outs</th>
          </tr>

          <tr>
            <th>Inside The Book - Proactive Audits</th>
            <td></td>
            <td></td>
            <td</td>
            <td></td>
            <td></td>
            <td> </td>
            <td> </td>
          </tr>

    
          
             <tr>
            <th>Best Sellers</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Pre-Orders</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          
          <tr>
            <th>Big Books</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> </td>
            <td></td>
          </tr>
          
       
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>